/*---------------------------------
               BODY
---------------------------------*/
body {
    margin: 0%
}

.background_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -2;
    display: block;
}


/*---------------------------------
                NAV
---------------------------------*/

.nav-box {
    width: 100%;
    position: fixed;
    top: 5px;
    z-index: 100;
}

nav {
    top: 4px;
    margin: 0px auto;
    width: 40%;
    text-align: center;
}

nav a {
    text-align: center;
    display: inline;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 30px;
    background-color: rgba(197, 195, 198, 0.384);
    opacity: 1;
    border-radius: 5px;
    border: 1px solid rgb(70, 73, 76);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}

nav a:hover {
    color: white;
    background-color: rgb(197, 195, 198);
}

nav:hover {
    opacity: 1;
    transition: .5 ease;
}

/*---------------------------------
            LOGO BOX
---------------------------------*/


.logo-box {
    width: 100%;
    height: 45%;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1;
    position: absolute;
    transform: translatey(-113%);
}

.logo-box h1 {
    text-align: center;
    color: white;
    margin: -15px auto;
    margin-top: 10px;
}

.logo-box #skills {
    text-align: center;
    color: white;
    position: relative;
    transform: translate(0%, -25%);
}

.row {
    width: 75%;
    display: flex;
    margin: 0px auto;
    position: relative;
    text-align: center;
    margin-top: -15px;
}

.column {
    flex: 15%;
    padding: 5px;
}

.column img {
    width: 100%;
    filter: grayscale(60%);
    transition: .5s ease;
}

#python {
    margin-right: 20px;
    margin-top: 15px;
}

#git {
    margin-left: 30px;
    margin-top: 10px;
}

#css-image img {
    transform: scale(1.1);
}

#html-image {
    margin-top: -5px;
}

.row .overlay {
    color: white;
    transform: translatey(-500%);
    opacity: 0;
}

/*---------------------------------
          LOGO BOX HOVER
---------------------------------*/

.column img:hover {
    filter: grayscale(0%);
    transition: transform 1s;
    transform: scale(1.5);
    transition: 1.5s ease;
}

.column img:hover .overlay {
    opacity: 1;

    transition: 2s ease;
}

/*---------------------------------
               ABOUT
---------------------------------*/

.column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    background-color: rgb(197, 195, 198);
}

.column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3.5%;
    height: 440px;
    background-color: rgb(70, 73, 76);
}

.column_2 img {
    max-width: 100%;
    max-height: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}